

TOKEN=TOKEN_HERE


TASK_CHANNEL_ID=TASK_CHANNEL_ID_HERE
EVALUATIONS_ID=EVALUATIONS_ID_HERE
ANNOUNCEMENTS_ID=ANNOUNCEMENTS_ID_HERE


DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=



AUTHORIZED_USER_IDS=[AUTHORIZED_USER_IDS_HERE]
